*,::before,::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body{
  font-family: "Trebuchet MS";
  margin: 90px 90px 20px 90px;

}

h1{
  text-align: center;
  padding: 35px 0;
  font-size: 40px

}
.main{
  width: 80%;
  margin: auto;
text-align: center;
background-color: white;
border-radius: 16px;
box-shadow: rgb(0 0 0 / 10%) 0px 4px 32px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.Soustitre{
  border-color: #001E6C;
  color: #001E6C;
  font-size: 20px;
}

.container-faq{
  width: 90%;
  max-width: 1200px;
  min-width: 800px;
  height: auto;
  margin: 10px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;


}

.questions{
  width: 100%;
  height: auto;
  margin: 5px;
}

.visible-pannel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #EEEEEE;
  border-radius: 10px;
  position: relative;
  z-index: 100%;

}

.visible-pannel h2 {
  margin-left: 10px;
  padding: 15px 5px;
  font-size: 15px;

}
.visible-pannel img{
  margin-right: 20px;
  width:25px;
  cursor: pointer;

}
.toggle-pannel{
  padding: 5px 15px;
  height: 0px;
  opacity: 0;
  text-align: left;
}
.toggle-pannel h4{
  font-size: 18px;
  padding-bottom: 10px;
}
.toggle-pannel p{
  line-height: 1.5;

}

.btn1{
  padding: 4px;
  align-items: center;
  background: white;
box-shadow: rgb(0 0 0 / 10%) 0px 4px 32px;
  border-radius: 16px;
  border: none;
  width: 180px;
  height:70px;
  white-space: normal;
  text-shadow: none;
  font: 12px Trebuchet MS;
  margin-right: 6px;
  cursor: pointer;
}


 .btn1:hover {
       border: 1.5px none rgb(0, 70, 228);
       background: linear-gradient(73deg, rgb(0, 51, 204), rgb(0, 91, 255));
       color: white;
         }

         .btn1:focus {
               border: 1.5px none rgb(0, 70, 228);
               background: linear-gradient(73deg, rgb(0, 51, 204), rgb(0, 91, 255));
               color: white;
                 }

         .logo {
           width: 150px;
         }

         .test0{
           font-size: 15px;
           margin: 20px 0 0 0;
           text-align: justify;
         }
.test {
  font-size: 15px;
  margin: 20px 0 0 0;
  text-align: justify;
  border:solid 1px;
  background-color: #DFF6FF;
  border-radius: 3px;
  padding:8px;
  color:#1994d7;
}
.test1 {
  margin: 20px 0 15px 0;
  text-align: justify;
  font-size: 15px;
  color: #6E85B7;

}
.test2 {
  margin: 20px 0 15px 0;
  text-align: justify;
  font-size: 15px;
  color: #6E85B7;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #EEEEEE;
  border-radius: 10px;
  position: relative;
  z-index: 100;
  padding: 0 0 0 10px;

}

.test3 {
  margin: 20px 0 15px 0;
  text-align: justify;
  font-size: 25px;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #EEEEEE;
  border-radius: 10px;
  position: relative;
  z-index: 100;
  padding: 0 0 0 10px;

}
.test4 {
  margin: 2px 0 2px 0;
  text-align: justify;
  font-size: 15px;
  color: #6E85B7;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  position: relative;
  z-index: 100;
  padding: 0 0 0 10px;

}


.champ{
padding: 8px;
height: 30px;
border: 1px solid #8A9BAE;
-webkit-box-sizing: border-box;
box-sizing: border-box;
border-radius: 4px;
-webkit-box-shadow: none;
box-shadow: none;
font-size: 14px;
line-height: 19px;
margin:0 10px 6px 0;
width: 300px;
}
.champ2{
  padding: 8px;
  border: 1px solid #8A9BAE;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  line-height: 19px;
  margin:0 10px 6px 0;
  position: relative;
  z-index: 100;



}

hr{
margin:20px 0 0 20px;
}

.btn2{
  padding: 2px;
  align-items: center;
  background: white;
box-shadow: rgb(0 0 0 / 10%) 0px 4px 32px;
  border-radius: 16px;
  border: solid 1px rgb(0, 70, 228);
  width: 100px;
  height:30px;
  white-space: normal;
  text-shadow: none;
  font: 14px/1.4 Trebuchet MS;
  margin: 4px 6px 4px 0;
  cursor: pointer;
}


 .btn2:hover {
       border: 1.5px none rgb(0, 70, 228);
       background: linear-gradient(73deg, rgb(0, 51, 204), rgb(0, 91, 255));
       color: white;
         }

         .btn2:focus {
               border: 1.5px none rgb(0, 70, 228);
               background: linear-gradient(73deg, rgb(0, 51, 204), rgb(0, 91, 255));
               color: white;
                 }
